html, body {
  width: 100%;
  height: 100%;
  font-size: 0;
  margin: 0;
  background-color: black;
}

body{
  background-image:
    linear-gradient(#444 1px, transparent 1px),
    linear-gradient(90deg, #444 1px, transparent 1px),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 260' preserveAspectRatio='none'><line x1='0' y1='60' x2='1000' y2='60' stroke='%23ffffff55' stroke-width='2'/><text x='5' y='55' fill='%23dddddd' font-size='14' font-family='Roboto Condensed, Arial Narrow, sans-serif' letter-spacing='-1'>3 kW</text><line x1='0' y1='130' x2='1000' y2='130' stroke='%23ffffff55' stroke-width='2'/><text x='5' y='125' fill='%23dddddd' font-size='14' font-family='Roboto Condensed, Arial Narrow, sans-serif' letter-spacing='-1'>1.5 kW</text><line x1='0' y1='200' x2='1000' y2='200' stroke='%23ffffff55' stroke-width='2'/><text x='5' y='195' fill='%23dddddd' font-size='14' font-family='Roboto Condensed, Arial Narrow, sans-serif' letter-spacing='-1'>0 kW</text></svg>");
  background-size: 10px 50px, 50px 50px, 100% 290px;
  background-repeat: repeat, repeat, no-repeat;
  background-position: 0 -10px, 0 0, left center;
}

.above {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card {
  background: aliceblue;
  color: black;
  padding: 15px 25px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

#livePower {
  position: relative;
}

.icon-btn {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#storico{
  position: relative;
  left: 400px;
  z-index: 2000;
}

#storico i:hover, #notifiche i:hover{
  color: #eb1313 !important;
}

#powerToday p,#livePower p {
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0;
    Color: brown;
    font-weight: bold;
}

#powerToday span:first-child{
  font-size: 30px;
}

#powerToday span:nth-child(2){
  font-size: 20px;
}

#livePowerArc {
  transition: stroke-dasharray 0.5s ease;
}

#totale{
  display: inline-flex; 
  align-items: baseline; 
  gap: 4px;
  margin-top: 30px;
}

#overlay, #OverlayNotifiche {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in;
}

#storicoChart {
  background-color: #fefefe;
  border-radius: 12px;
  padding: 1rem;
  max-width: 80%;
  max-height: 80%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.chiudi {
  position: absolute;
  top: 40px;
  right: 70px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: brown;
  color: black;
  z-index: 2000;
}

.chiudi:hover {
  background: #eb1313;
}

.notifiche {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 0;
  max-width: 80%;
  max-height: 80%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  min-width: 500px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.notifiche-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-size: 22px;
  font-weight: bold;
  color: brown;
  border-bottom: 2px solid #ddd;
}

.notifiche-header span {
  width: 100%;
  text-align: center;
  display: inline-block;
}


.chiudiN {
  background: brown;
  color: black;
  border: none;
  width: 32px;
  height: 32px;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.chiudiN:hover{
  background: #eb1313;
}

.notifiche-content {
  padding: 20px;
  overflow-y: auto;
  flex-grow: 1;
  color: black;
}

canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  background:transparent;
}


@media (max-width: 1400px) {
  #storico {
    left: 0;
    max-width: 100%;
    min-width: 35px;
    overflow-x: hidden;
  }

  body{
  background-size: 10px 50px, 50px 50px, 1500px 290px;
  }

  .above {
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
    padding: 0 5px;
  }

  .card {
    min-width: auto;
    width: calc(100% / 3 - 10px);
    padding: 10px;
    font-size: 12px;
    flex-shrink: 0;
  }

  .icon-btn {
    width: 35px;
    height: 35px;
  }

  #storicoChart {
    max-width: 80%;
    width: 50vw;
    max-height: 80%;
  }

  .chiudi{
    top: 30px;
    right: 30px;
  }

  .notifiche{
    min-width: 300px;
    min-height: 400px;
  }
}