html, body {
  width: 100%;
  height: 100%;
  font-size: 0;
  margin: 0;
  background-color: black;
}

.above {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card {
  background: white;
  color: black;
  padding: 15px 25px;
  min-width: 160px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.icon-btn {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


#storico{
  position: relative;
  left: 400px;
}

#livePower p {
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0;
    Color: brown;
    font-weight: bold;
}

canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  background:transparent;
}


@media (max-width: 1400px) {
  #storico {
    left: 0;
    max-width: 100%;
    min-width: 35px;
    overflow-x: hidden;
  }

  .above {
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
    padding: 0 5px;
  }

  .card {
    min-width: auto;
    width: calc(100% / 3 - 10px);
    padding: 10px;
    font-size: 12px;
    flex-shrink: 0;
  }

  .icon-btn {
    width: 35px;
    height: 35px;
  }
}